<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/basic_layout.html}">


<head>
    <title>직원 등록 - 수정</title>
    <th:block layout:fragment="script">
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                setDefault();
                registEvent();

            });

            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('select[name="domain"]').addEventListener('change', function () {
                    const selectedValue = this.value;
                    const email2Input = document.querySelector('input[name="email2"]');

                    email2Input.value = selectedValue;
                    email2Input.readOnly = selectedValue !== "";
                });
            });

            const dtPickerJSON = {
                dateFormat: "yy-mm-dd",
                startView: 3,
                todayBtn:"linked",
                language: "kr",
                orientation: "top auto",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            };

            const csrf = {'header': null, 'value': null};

            const button = {'list': null, 'regist': null};

            const setDefault = function () {
                csrf.header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
                csrf.token = document.querySelector('meta[name="_csrf"]').getAttribute('content');

                // configEditor(false);
                button.list = document.querySelector('.btn-view');
                button.regist = document.querySelector('.btn-regist');

                $('input[name="empBirth"]').datepicker(dtPickerJSON);
                $('input[name="hireDate"]').datepicker(dtPickerJSON);
                $('input[name="breakStart"]').datepicker(dtPickerJSON);
                $('input[name="breakEnd"]').datepicker(dtPickerJSON);
                $('input[name="statusDate"]').datepicker(dtPickerJSON);
            };

            const registEvent = function () {
                let searchData = new FormData(document.querySelector('[name="searchForm"]'));

                button.list.addEventListener('click', () => {
                    window.location.replace('/mngr/Employee/list?' + getQueryStr(searchData));
                });

                button.regist.addEventListener('click', regist);
            };

            const isEmpty = (value) => {
                if (value == null || typeof value == 'undefined' || value == '')
                    return true;
                else
                    return false;
            };

            const validator = function (formData) {
                console.log(formData);
                if (isEmpty(formData.employee.empName)) {
                    alert('이름을 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.empBirth)) {
                    alert('생년월일을 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.empNo)) {
                    alert('사번을 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.position)) {
                    alert('직급을 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.department)) {
                    alert('부서를 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.hireDate)) {
                    alert('입사일을 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.email)) {
                    alert('이메일을 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.phoneNumber)) {
                    alert('연락처를 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.emerNumber)) {
                    alert('비상연락망을 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.bankName)) {
                    alert('은행명을 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.accountNumber)) {
                    alert('계좌번호를 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData.employee.status)) {
                    alert('상태를 입력하여 주십시오.');
                    return true;
                }

                if (formData.employee.status === '휴직') {
                    if (isEmpty(formData.status.breakStart)) {
                        alert('시작 날짜를 입력하여 주십시오.');
                        return true;
                    }
                    if (isEmpty(formData.status.breakEnd)) {
                        alert('끝나는 날을 입력하여 주십시오.');
                        return true;
                    }
                    if (isEmpty(formData.status.statusReason)) {
                        alert('사유를 입력하여 주십시오.');
                        return true;
                    }
                }

                if (formData.employee.status === '퇴직') {
                    if (isEmpty(formData.status.statusDate)) {
                        alert('기간을 입력하여 주십시오.');
                        return true;
                    }
                    if (isEmpty(formData.status.statusReason)) {
                        alert('사유를 입력하여 주십시오.');
                        return true;
                    }
                }

                if (isEmpty(formData.employee.role)) {
                    alert('권한을 선택하여 주십시오.');
                    return true;
                }

                return false;
            };

            function getEmail() {
                let email1 = document.querySelector('input[name="email1"]').value;
                let email2 = document.querySelector('input[name="email2"]').value;
                let email = '';

                if (email1 != '' && email2 != '') {
                    email = email1 + '@' + document.querySelector('input[name="email2"]').value;
                }

                return email;
            };


            async function regist() {
                let searchData = new FormData(document.querySelector('[name="searchForm"]'));

                let employee = {
                    empId: document.querySelector('input[name="empId"]').value,
                    empName: document.querySelector('input[name="empName"]').value,
                    empBirth: document.querySelector('input[name="empBirth"]').value,
                    empNo: document.querySelector('input[name="empNo"]').value,
                    position: document.querySelector('select[name="position"]').value,
                    department: document.querySelector('select[name="department"]').value,
                    hireDate: document.querySelector('input[name="hireDate"]').value,
                    email: getEmail(),
                    phoneNumber: document.querySelector('input[name="phoneNumber"]').value,
                    emerNumber: document.querySelector('input[name="emerNumber"]').value,
                    bankName: document.querySelector('select[name="bankName"]').value,
                    accountNumber: document.querySelector('input[name="accountNumber"]').value,
                    status: document.querySelector('select[name="status"]').value,
                    role: document.querySelector('select[name="role"]').value
                };

                let status = {
                    breakStart: document.querySelector('input[name="breakStart"]').value,
                    breakEnd: document.querySelector('input[name="breakEnd"]').value,
                    statusDate: document.querySelector('input[name="statusDate"]').value,
                    statusReason: document.querySelector('textarea[name="statusReason"]').value
                };

                let formData = {
                    employee: employee,
                    status: status
                };
                console.log(formData);

                if (validator(formData)) {
                    return;
                };

                // startLoading();

                await fetch('/Employee/modify', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': csrf.token
                    },
                    body: JSON.stringify(formData)
                })
                    .then(response => response.json())
                    .then(data => {
                        // endLoading();
                        console.log(data);
                        if(data.result){
                            alert('수정 성공');
                            window.location.replace('/mngr/Employee/list?' + getQueryStr(searchData));
                        } else {
                            alert('수정 실패');
                        }
                    })
                    .catch(error => {
                        // endLoading();
                        alert('오류가 발생했습니다2.');
                        console.log(error);
                    });
            };


            document.addEventListener('DOMContentLoaded', () => {
                const $statusSelect = $('#statusSelect');
                const $breakSection = $('#breakSection');
                const $retireSection = $('#retireSection');
                const $reasonSection = $('#reasonSection');

                $statusSelect.on('change', function () {
                    const selected = $(this).val();

                    if (selected === '휴직') {
                        $breakSection.show();
                        $retireSection.hide();
                        $reasonSection.show();
                    } else if (selected === '퇴직') {
                        $breakSection.hide();
                        $retireSection.show();
                        $reasonSection.show();
                    } else {
                        $breakSection.hide();
                        $retireSection.hide();
                        $reasonSection.hide();
                        $('#statusDate').val('');
                        $('#reason').val('');
                    }
                });
            });




        </script>
    </th:block>
</head>

<body>

    <th:block layout:fragment="content">
        <div style="display: flex;">
            <!--sidebar-->
            <th:block th:replace="~{mngr/fragment/basic_aside :: aside}"></th:block>
            <!--content-->
            <div class="content">
                <!--상단-->
                <div class="account">
                    <ul>
                        <li>
                            <a href="#">
                                <span>admin</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>로그아웃</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--content-->
                <div class="content-box">
                    <!--경로-->
                    <div class="current-site-path">
                        <ul>
                            <li>
                            <span>
                                직원등록
                            </span>
                            </li>
                            <li>
                            <span>
                                수정
                            </span>
                            </li>

                        </ul>
                    </div>
                    <!-- 검색 form -->
                    <form name="searchForm" method="post" onsubmit="return false;">

                        <!-- 페이징 -->
                        <input type="hidden" name="pageNo" th:value="${employeeDTO.pageNo}">
                        <input type="hidden" name="pageBlock" th:value="${employeeDTO.pageBlock}">

                    </form>

                    <!--content-table-->
                    <div class="view-table">
                        <table>
                            <colgroup>
                                <col width="12%">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    이름
                                </th>
                                <td>
                                    <input type="text" name="empName" th:value="${employeeVO.empName}" class="form-control w20p">
                                    <input type="hidden" name="empId" th:value="${employeeDTO.empId}">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    생년월일
                                </th>
                                <td>
                                    <input type="text" name="empBirth" th:value="${employeeVO.empBirth}" class="form-control w20p">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    사번
                                </th>
                                <td>
                                    <input type="text" name="empNo" th:value="${employeeVO.empNo}" class="form-control w20p">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    직급
                                </th>
                                <td>
                                    <select name="position" class="form-control w22p">
                                        <option value="">직급 선택</option>
                                        <option value="사원" th:selected="${employeeVO.position == '사원'}">사원</option>
                                        <option value="주임" th:selected="${employeeVO.position == '주임'}">주임</option>
                                        <option value="대리" th:selected="${employeeVO.position == '대리'}">대리</option>
                                        <option value="과장" th:selected="${employeeVO.position == '과장'}">과장</option>
                                        <option value="차장" th:selected="${employeeVO.position == '차장'}">차장</option>
                                        <option value="부장" th:selected="${employeeVO.position == '부장'}">부장</option>
                                        <option value="이사" th:selected="${employeeVO.position == '이사'}">이사</option>
                                        <option value="상무" th:selected="${employeeVO.position == '상무'}">상무</option>
                                        <option value="전무" th:selected="${employeeVO.position == '전무'}">전무</option>
                                        <option value="대표이사" th:selected="${employeeVO.position == '대표이사'}">대표이사</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    부서
                                </th>
                                <td>
                                    <select name="department" class="form-control w22p">
                                        <option value="">부서 선택</option>
                                        <option value="경영지원팀" th:selected="${employeeVO.department == '경영지원팀'}">경영지원팀</option>
                                        <option value="개발팀" th:selected="${employeeVO.department == '개발팀'}">개발팀</option>
                                        <option value="영업팀" th:selected="${employeeVO.department == '영업팀'}">영업팀</option>
                                        <option value="마케팅팀" th:selected="${employeeVO.department == '마케팅팀'}">마케팅팀</option>
                                        <option value="디자인팀" th:selected="${employeeVO.department == '디자인팀'}">디자인팀</option>
                                        <option value="고객지원팀" th:selected="${employeeVO.department == '고객지원팀'}">고객지원팀</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    입사일
                                </th>
                                <td>
                                    <input type="text" name="hireDate" th:value="${employeeVO.hireDate}" class="form-control w20p">
                                </td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td>
                                    <input type="text" name="email1" class="form-control w20p dib"
                                           th:value="${#strings.substringBefore(employeeVO.email, '@')}">
                                    <span class="dib">@</span>
                                    <input type="text" name="email2" class="form-control w20p dib"
                                           th:value="${#strings.substringAfter(employeeVO.email, '@')}">
                                    <select name="domain" class="form-select w20p dib">
                                        <option value="">직접선택</option>
                                        <option value="naver.com" th:selected="${#strings.substringAfter(employeeVO.email, '@') == 'naver.com'}">naver.com</option>
                                        <option value="nate.com" th:selected="${#strings.substringAfter(employeeVO.email, '@') == 'nate.com'}">nate.com</option>
                                        <option value="gmail.com" th:selected="${#strings.substringAfter(employeeVO.email, '@') == 'gmail.com'}">gmail.com</option>
                                        <option value="kakao.com" th:selected="${#strings.substringAfter(employeeVO.email, '@') == 'kakao.com'}">kakao.com</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    연락처
                                </th>
                                <td>
                                    <input type="text" name="hireDate" th:value="${employeeVO.phoneNumber}" class="form-control w20p">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    비상연락망
                                </th>
                                <td>
                                    <input type="text" name="hireDate" th:value="${employeeVO.emerNumber}" class="form-control w20p">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    은행명
                                </th>
                                <td>
                                    <select name="department" class="form-control w22p">
                                        <option value="">은행 선택</option>
                                        <option value="국민은행" th:selected="${employeeVO.bankName == '국민은행'}">국민은행</option>
                                        <option value="신한은행" th:selected="${employeeVO.bankName == '신한은행'}">신한은행</option>
                                        <option value="우리은행" th:selected="${employeeVO.bankName == '우리은행'}">우리은행</option>
                                        <option value="하나은행" th:selected="${employeeVO.bankName == '하나은행'}">하나은행</option>
                                        <option value="기업은행" th:selected="${employeeVO.bankName == '기업은행'}">기업은행</option>
                                        <option value="농협은행" th:selected="${employeeVO.bankName == '농협은행'}">농협은행</option>
                                        <option value="카카오뱅크" th:selected="${employeeVO.bankName == '카카오뱅크'}">카카오뱅크</option>
                                        <option value="토스뱅크" th:selected="${employeeVO.bankName == '토스뱅크'}">토스뱅크</option>
                                        <option value="새마을금고" th:selected="${employeeVO.bankName == '새마을금고'}">새마을금고</option>
                                        <option value="신협" th:selected="${employeeVO.bankName == '신협'}">신협</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    계좌번호
                                </th>
                                <td>
                                    <input type="text" name="hireDate" th:value="${employeeVO.accountNumber}" class="form-control w20p">
                                </td>
                            </tr>







                            <tr>
                                <th>상태</th>
                                <td>
                                    <select id="statusSelect" name="status" class="form-control w20p">
                                        <option value="">상태 선택</option>
                                        <option value="재직" th:selected="${employeeVO.status == '재직'}">재직</option>
                                        <option value="휴직" th:selected="${employeeVO.status == '휴직'}">휴직</option>
                                        <option value="퇴직" th:selected="${employeeVO.status == '퇴직'}">퇴직</option>
                                    </select>
                                </td>
                            </tr>
                            <!--휴직-->
                            <tr id="breakSection" style="display: none">
                                <th>
                                    휴직일자
                                </th>
                                <td>
                                    <input type="text" name="breakStart" class="dib form-control w20p" placeholder="YYYY-MM-DD">
                                    <span> ~ </span>
                                    <input type="text" name="breakEnd" class="dib form-control w20p" placeholder="YYYY-MM-DD">
                                </td>
                            </tr>
                            <!--퇴직-->
                            <tr id="retireSection" style="display: none">
                                <th>
                                    퇴직일자
                                </th>
                                <td>
                                    <input type="text" name="statusDate" class="form-control w20p" placeholder="YYYY-MM-DD">
                                </td>
                            </tr>
                            <!--사유-->
                            <tr id="reasonSection" style="display: none">
                                <th>
                                    사유
                                </th>
                                <td>
                                    <textarea name="statusReason" th:value="${employeeVO.hireDate}" class="form-control" rows="3" placeholder="사유를 입력하세요"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    권한
                                </th>
                                <td>
                                    <select name="role" class="form-control w22p">
                                        <option value="">권한 선택</option>
                                        <option value="user" th:selected="${employeeVO.role == 'user'}">일반</option>
                                        <option value="admin" th:selected="${employeeVO.role == 'admin'}">관리자</option>
                                    </select>
                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>


                    <!--검색버튼-->
                    <div class="search-button">
                        <button type="button" class="btn btn-regist w75">수정</button>
                        <button type="button" class="btn btn-view w75">목록</button>
                    </div>










                </div>

            </div>
        </div>
    </th:block>



</body>

</html>