<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/basic_layout.html}">

<head>
    <title>직원 등록 - 상세보기</title>
    <th:block layout:fragment="script">
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", () => {
                setDefault();
                registEvent();
                getList();
            });

            const csrf = { 'header' : null, 'value' : null };

            const button = { 'list' : null, 'modify' : null };

            const setDefault = function() {
                csrf.header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
                csrf.token = document.querySelector('meta[name="_csrf"]').getAttribute('content');

                button.list = document.querySelector('.btn-view');
                button.modify = document.querySelector('.btn-regist');
            };

            const registEvent = function() {
                let searchData = new FormData(document.querySelector('[name="searchForm"]'));
                /**
                 button.list.addEventListener('click', () => {
                 window.location.replace('/mngr/gov/policy/list?' + getQueryStr(searchData));
                 });
                 **/
                button.list.addEventListener('click', () => {
                    window.location.replace('/mngr/Employee/list?' + getQueryStr(searchData));
                });

                button.modify.addEventListener('click', () => {
                    let id = document.querySelector('input[name="empId"]').value;
                    window.location.replace('/mngr/Employee/modify?&empId='+ id +'&'+ getQueryStr(searchData));
                    //http://localhost:8892/mngr/gov/policy/modify?&govId=79
                });
            };



            async function getList() {
                const empNo = document.querySelector('[name="empNo"]').value;
                const empBirth = document.querySelector('[name="empBirth"]').value;

                const requestData = {
                    empNo: empNo,
                    empBirth: empBirth
                };

                await fetch('/mngr/EmployeeStatus/list', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': csrf.token
                    },
                    body: JSON.stringify(requestData),
                })
                    .then((response) => response.json())
                    .then((data) => {

                        let totalCount = data.totalCount;
                        let totalPageNo = data.totalPageNo;
                        let list = data.list;
                        console.log(list);

                        let html = '';

                        if (!list || list.length === 0) {
                            html += '<tr><td class="text-center h-200px align-middle" colspan="6">데이터가 존재하지 않습니다.</td></tr>';
                        } else {
                            html += drawList(list);
                        }

                        document.querySelector('.list-table tbody').innerHTML = html;
                        // document.querySelector('.pagination').innerHTML = data.pagingHTML;
                    })
                    .catch((error) => {
                        alert('데이터를 가져오는데 실패하였습니다.');
                        console.log(error);
                    });
            }


            const drawList = (list) => {
                let html = '';

                for (el of list) {
                    html += '<tr>';
                    html += '<td class="txt-cter">' + (el.seq) + '</td>';
                    html += '<td class="txt-cter">' + (el.empName) + '</td>';
                    html += '<td class="txt-cter">' + (el.empBirth) + '</td>';
                    html += '<td class="txt-cter">' + (el.status) + '</td>';
                    html += '<td class="txt-cter">' + (el.statusDate) + '</td>';
                    html += '<td class="txt-cter">' + (el.statusReason) + '</td>';
                    html += '</tr>';
                }
                return html;
            };

        </script>
    </th:block>
</head>

<body>

    <th:block layout:fragment="content">
        <div style="display: flex;">
            <!--sidebar-->
            <th:block th:replace="~{mngr/fragment/basic_aside :: aside}"></th:block>

            <!--content-->
            <div class="content">
                <!--상단-->
                <div class="account">
                    <ul>
                        <li>
                            <a href="#">
                                <span>admin</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>로그아웃</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--content-->
                <div class="content-box">
                    <!--경로-->
                    <div class="current-site-path">
                        <ul>
                            <li>
                            <span>
                                회원관리
                            </span>
                            </li>
                            <li>
                            <span>
                                회원 정보
                            </span>
                            </li>
                            <li>
                            <span>
                                상세보기
                            </span>
                            </li>
                        </ul>
                    </div>
                    <!-- 검색 form -->
                    <form name="searchForm" method="post" onsubmit="return false;">

                        <!-- 검색 조건 -->
                        <input type="hidden" name="empId" th:value="${employeeDTO.empId}">
                        <input type="hidden" name="empName" th:value="${employeeDTO.empName}">
                        <input type="hidden" name="empBirth" th:value="${employeeDTO.empBirth}">
                        <input type="hidden" name="position" th:value="${employeeDTO.position}">
                        <input type="hidden" name="department" th:value="${employeeDTO.department}">
                        <input type="hidden" name="email" th:value="${employeeDTO.email}">
                        <input type="hidden" name="role" th:value="${employeeDTO.role}">
                        <input type="hidden" name="status" th:value="${employeeDTO.status}">
                        <input type="hidden" name="empNo" th:value="${employeeVO.empNo}">

                        <!-- 페이징 -->
                        <input type="hidden" name="pageNo" th:value="${employeeDTO.pageNo}">
                        <input type="hidden" name="pageBlock" th:value="${employeeDTO.pageBlock}">

                    </form>

                    <!--content-table-->
                    <div class="view-table">
                        <table>
                            <colgroup>
                                <col width="12%">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    이름
                                </th>
                                <td th:text="${employeeVO.empName}"></td>
                            </tr>
                            <tr>
                                <th>
                                    사번
                                </th>
                                <td th:text="${employeeVO.empNo}"></td>
                            </tr>
                            <tr>
                                <th>
                                    직급
                                </th>
                                <td th:text="${employeeVO.position}"></td>
                            </tr>
                            <tr>
                                <th>
                                    부서
                                </th>
                                <td th:text="${employeeVO.department}"></td>
                            </tr>
                            <tr>
                                <th>
                                    입사일
                                </th>
                                <td th:text="${employeeVO.hireDate}"></td>
                            </tr>
                            <tr>
                                <th>
                                    이메일
                                </th>
                                <td th:text="${employeeVO.email}"></td>
                            </tr>
                            <tr>
                                <th>
                                    상태
                                </th>
                                <td th:text="${employeeVO.status}"></td>
                            </tr>
                            <tr>
                                <th>
                                    권한
                                </th>
                                <td th:if="${employeeVO.role == 'user'}">일반</td>
                                <td th:if="${employeeVO.role == 'admin'}">관리자</td>

                            </tr>
                            <tr>
                                <th>
                                    주소
                                </th>
                                <td>
                                    주소
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    연락처1
                                </th>
                                <td>
                                    연락처1
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    연락처2
                                </th>
                                <td>
                                    연락처2
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    은행명
                                </th>
                                <td>
                                    은행명
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    계좌번호
                                </th>
                                <td>
                                    계좌번호
                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>


                    <!--검색버튼-->
                    <div class="search-button">
                        <button type="button" class="btn btn-regist w75">수정</button>
                        <button type="button" class="btn btn-view w75">목록</button>
                    </div>

                    <!--퇴직 휴직 list-->
                    <div class="list-table">
                        <table>
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>이름</th>
                                <th>생년월일</th>
                                <th>상태</th>
                                <th>일자</th>
                                <th>사유</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>










                </div>

            </div>
        </div>
    </th:block>



</body>

</html>