<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/basic_layout.html}">

<head>
    <meta charset="UTF-8">
    <title>병가 신청 - 등록</title>

</head>

<body>
<th:block layout:fragment="content">
    <div style="display: flex;">
        <!--sidebar-->
        <th:block th:replace="~{site/common/fragment/basic_aside :: aside}"></th:block>

        <!--content-->
        <div class="content">
            <!--상단-->
            <div class="account">
                <ul>
                    <li>
                        <a href="#">
                            <span>admin</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>로그아웃</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--content-->
            <div class="content-box">
                <!--경로-->
                <div class="current-site-path">
                    <ul>
                        <li>
                            <span>
                                병가 신청
                            </span>
                        </li>
                        <li>
                            <span>
                                등록
                            </span>
                        </li>
                    </ul>
                </div>

                <!--content-table-->
                <div class="view-table">
                    <table>
                        <colgroup>
                            <col width="12%">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>
                                이름
                            </th>
                            <td>
                                이름
                            </td>
                        </tr>
                        <tr>
                            <th>
                                사번
                            </th>
                            <td>
                                사번
                            </td>
                        </tr>
                        <tr>
                            <th>
                                부서
                            </th>
                            <td>
                                부서
                            </td>
                        </tr>
                        <tr>
                            <th>
                                직급
                            </th>
                            <td>
                                직급
                            </td>
                        </tr>

                        <tr>
                            <th>
                                신청일자
                            </th>
                            <td>
                                신청일자
                            </td>
                        </tr>
                        <tr>
                            <th>
                                사유
                            </th>
                            <td>
                                <textarea name="" id="" class="form-control" style="height: 250px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                첨부파일
                            </th>
                            <td>
                                <button id="btn-search" type="button" class="btn btn-sucess w90">파일첨부</button>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                병가 신청 기간
                            </th>
                            <td>
                                <input type="date" class="form-control w150">
                                ~
                                <input type="date" class="form-control w150">
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>


                <!--버튼-->
                <div class="search-button">
                    <button id="btn-search" type="button" class="btn btn-regist w75">신청</button>
                    <button id="btn-search" type="button" class="btn btn-view w75">목록</button>
                </div>










            </div>

        </div>








    </div>
</th:block>



</body>

</html>