<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/basic_layout.html}">

<head>
    <title>개인정보 - 수정</title>

</head>

<body>
<th:block layout:fragment="content">
    <div style="display: flex;">
        <!--sidebar-->
        <th:block th:replace="~{site/fragment/basic_aside :: aside}"></th:block>

        <!--content-->
        <div class="content">
            <!--상단-->
            <div class="account">
                <ul>
                    <li>
                        <a href="#">
                            <span>admin</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>로그아웃</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--content-->
            <div class="content-box">
                <!--경로-->
                <div class="current-site-path">
                    <ul>
                        <li>
                            <span>
                                개인정보 수정
                            </span>
                        </li>
                    </ul>
                </div>

                <!--content-table-->
                <div class="view-table">
                    <table>
                        <colgroup>
                            <col width="12%">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>
                                이름
                            </th>
                            <td>
                                이름
                            </td>
                        </tr>
                        <tr>
                            <th>
                                생년월일
                            </th>
                            <td>
                                생년월일
                            </td>
                        </tr>
                        <tr>
                            <th>
                                사번
                            </th>
                            <td>
                                사번
                            </td>
                        </tr>
                        <tr>
                            <th>
                                직급
                            </th>
                            <td>
                                직급
                            </td>
                        </tr>
                        <tr>
                            <th>
                                부서
                            </th>
                            <td>
                                부서
                            </td>
                        </tr>
                        <tr>
                            <th>
                                입사일
                            </th>
                            <td>
                                입사일
                            </td>
                        </tr>
                        <tr>
                            <th>
                                상태
                            </th>
                            <td>
                                상태
                            </td>
                        </tr>
                        <tr>
                            <th>
                                비밀번호 변경
                            </th>
                            <td>
                                <input type="text" class="form-control w20p">
                                <p style="margin-top: 10px;">영문(대소문자구분),숫자,특수문자(~!@#$%^&*()-_?)</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                비밀번호 확인
                            </th>
                            <td>
                                <input type="text" class="form-control w20p">
                                <p style="margin-top: 10px;">값이 일치하지 않습니다.</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                이메일
                            </th>
                            <td>
                                <input type="text" name="email1" class="form-control w20p">
                                <span>@</span>
                                <input type="text" name="email2" class="form-control w20p">
                                <select name="domain" class="form-select w20p">
                                    <option value="">직접선택</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="nate.com">nate.com</option>
                                    <option value="gmail.com">gmail.com</option>
                                    <option value="kakao.com">kakao.com</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                연락처1
                            </th>
                            <td>
                                <input type="text" class="form-control w20p" placeholder="010">
                                <span>-</span>
                                <input type="text" class="form-control w20p">
                                <span>-</span>
                                <input type="text" class="form-control w20p">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                연락처2
                            </th>
                            <td>
                                <input type="text" class="form-control w20p" placeholder="010">
                                <span>-</span>
                                <input type="text" class="form-control w20p">
                                <span>-</span>
                                <input type="text" class="form-control w20p">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                은행명
                            </th>
                            <td>
                                <input type="text" class="form-control w20p">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                계좌번호
                            </th>
                            <td>
                                <input type="text" class="form-control w20p">
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>


                <!--검색버튼-->
                <div class="search-button">
                    <button id="btn-search" type="button" class="btn btn-regist w75">수정</button>
                    <button id="btn-search" type="button" class="btn btn-view w75">목록</button>
                </div>










            </div>

        </div>








    </div>

</th:block>



</body>

</html>