<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="aside">
    <div class="sidebar">
        <div class="sidebar-title">
            ini protect
        </div>
        <ul class="menu">
            <li>
                <a th:href="@{/site/informodify/Information_modify}">
                    <span>개인정보 수정</span>
                </a>
            </li>
            <li>
                <a th:href="@{/site/UserBreak/Break_list}">
                    <span>휴가신청</span>
                </a>
            </li>
            <li>
                <a th:href="@{/site/UserAppBreak/AppBreak_list}">
                    <span>휴가승인</span>
                </a>
            </li>
            <li>
                <a th:href="@{/site/UserSpecialBreak/UserSpecialBreak_list}">
                    <span>특별휴가 신청</span>
                </a>
            </li>
            <li>
                <a th:href="@{/site/UserSickBreak/UserSickBreak_list}">
                    <span>병가 신청</span>
                </a>
            </li>
            <li>
                <a th:href="@{/site/UserBreakList/UserBreakList_list}">
                    <span>연차현황 조회</span>
                </a>
            </li>
        </ul>
    </div>
</th:block>
</html>