<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.vacation.mvc.mapper.site.BreakListMapper">
	<!--리스트-->
	<sql id="basicTable">
		SELECT
			'break' AS src,
			empName,
			DATE_FORMAT(empBirth, '%Y-%m-%d') AS empBirth,
			empNo,
			`position`,
			department,
			DATE_FORMAT(startDate, '%Y-%m-%d') AS startDate,
			DATE_FORMAT(endDate,   '%Y-%m-%d') AS endDate,
			useDays,
			`type`,
			totalDays,
			reason,
			approval,
			`status`,
			regDate,
			rejectReason,
			vacationType,
			NULL AS specialType
		FROM break
		WHERE empNo = #{empNo}

		UNION ALL

		SELECT
			'special' AS src,
			empName,
			DATE_FORMAT(empBirth, '%Y-%m-%d') AS empBirth,
			empNo,
			`position`,
			department,
			DATE_FORMAT(startDate, '%Y-%m-%d') AS startDate,
			DATE_FORMAT(endDate,   '%Y-%m-%d') AS endDate,
			useDays,
			`type`,
			NULL AS totalDays,       -- ← 콤마 추가
			reason,
			approval,
			`status`,
			regDate,
			rejectReason,
			vacationType,
			NULL AS specialType     -- 필요 시 여기만 special_type 로 변경 가능
		FROM special_break
		WHERE empNo = #{empNo}

		UNION ALL

		SELECT
			'sick' AS src,
			empName,
			DATE_FORMAT(empBirth, '%Y-%m-%d') AS empBirth,
			empNo,
			`position`,
			department,
			DATE_FORMAT(startDate, '%Y-%m-%d') AS startDate,
			DATE_FORMAT(endDate,   '%Y-%m-%d') AS endDate,
			useDays,
			`type`,
			NULL AS totalDays,       -- ← 콤마 추가
			reason,
			approval,
			`status`,
			regDate,
			rejectReason,
			vacationType,
			NULL AS specialType
		FROM sick_break
		WHERE empNo = #{empNo}
	</sql>


	<sql id="where">
		WHERE 1=1
		<if test="schDtStart != null and schDtStart != ''">
			AND DATE_FORMAT(t.regDate, '%Y-%m-%d') <![CDATA[>=]]> #{schDtStart}
		</if>
		<if test="schDtEnd != null and schDtEnd != ''">
			AND DATE_FORMAT(t.regDate, '%Y-%m-%d') <![CDATA[<=]]> #{schDtEnd}
		</if>
		<if test="schDtStart2 != null and schDtStart2 != ''">
			AND DATE_FORMAT(t.startDate, '%Y-%m-%d') <![CDATA[>=]]> #{schDtStart2}
		</if>
		<if test="schDtEnd2 != null and schDtEnd2 != ''">
			AND DATE_FORMAT(t.endDate, '%Y-%m-%d') <![CDATA[<=]]> #{schDtEnd2}
		</if>
		<if test="vacationType != null and vacationType != ''">
			AND t.vacationType LIKE CONCAT('%', #{vacationType}, '%')
		</if>
	</sql>

	<select id="AllBreakCount"
			parameterType="com.example.vacation.mvc.dto.BreakListDTO"
			resultType="int">
		SELECT COUNT(*)
		FROM (
		SELECT 1
		FROM (
		<include refid="basicTable"/>
		) t
		<include refid="where"/>
		) c
	</select>

	<select id="AllBreakList"
			parameterType="com.example.vacation.mvc.dto.BreakListDTO"
			resultType="com.example.vacation.mvc.vo.BreakListVO">
		SELECT
		t.empName,
		t.empBirth,
		t.empNo,
		t.`position`,
		t.department,
		t.startDate,
		t.endDate,
		t.useDays,
		t.`type`,
		t.totalDays,
		t.reason,
		t.approval,
		t.`status`,
		t.regDate,
		t.rejectReason,
		t.vacationType,
		t.specialType,
		t.src
		FROM (
		<include refid="basicTable"/>
		) t
		<include refid="where"/>
		ORDER BY t.regDate DESC
		LIMIT #{pageSize} OFFSET #{pageOffset}
	</select>








</mapper>
