<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/basic_layout.html}">

<head>
    <title>특별휴가 신청 - 등록</title>
    <th:block layout:fragment="script">
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                setDefault();
                registEvent();
            });

            const dtPickerJSON = {
                dateFormat: "yy-mm-dd",
                startView: 3,
                todayBtn:"linked",
                language: "kr",
                orientation: "top auto",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            };

            const csrf = {'header': null, 'value': null};

            const button = {'list': null, 'regist': null};

            const setDefault = function () {
                csrf.header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
                csrf.token = document.querySelector('meta[name="_csrf"]').getAttribute('content');

                // configEditor(false);
                button.list = document.querySelector('.btn-view');
                button.regist = document.querySelector('.btn-regist');

                $('input[name="startDate"]').datepicker(dtPickerJSON);
                $('input[name="endDate"]').datepicker(dtPickerJSON);
            };

            const registEvent = function () {
                let searchData = new FormData(document.querySelector('[name="searchForm"]'));
                console.log(searchData);
                button.list.addEventListener('click', () => {
                    window.location.replace('/site/UserBreak/list?' + getQueryStr(searchData));
                });

                button.regist.addEventListener('click', regist);
            };

            const isEmpty = (value) => {
                if (value == null || typeof value == 'undefined' || value == '')
                    return true;
                else
                    return false;
            };

            const validator = function (formData) {
                const today = new Date();
                const start = new Date(formData['startDate']);
                const end = new Date(formData['endDate']);

                if (isEmpty(formData['specialType'])) {
                    alert('분류를 선택하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData['startDate'])) {
                    alert('신청기간을 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData['endDate'])) {
                    alert('신청기간을 입력하여 주십시오.');
                    return true;
                }
                if (isEmpty(formData['reason'])) {
                    alert('사유를 입력하여 주십시오.');
                    return true;
                }
                if (start < today.setHours(0,0,0,0)) {
                    alert('시작일이 현재보다 이전일 수 없습니다.');
                    return true;
                }
                if (start > end) {
                    alert('종료일이 시작일보다 작을 수 없습니다.');
                    return true;
                }


                return false;
            };

            // 총 사용 휴가일수
            async function getBreakTotalDay() {
                try {
                    const response = await fetch("/getBreakTotalDay");
                    const data = await response.json();
                    return parseFloat(data.useDays);
                } catch (e) {
                    console.error("조회 실패", e);
                    return 0;
                }
            }

            async function regist() {
                let searchData = new FormData(document.querySelector('[name="searchForm"]'));
                let totalUseDays = await getBreakTotalDay();
                let formData = {
                    'startDate': document.querySelector('input[name="startDate"]').value,
                    'endDate': document.querySelector('input[name="endDate"]').value,
                    useDays: useDays, // input 없이 전역 변수 사용
                    'type': document.querySelector('input[name="type"]:checked')?.value || '연차',
                    'reason': document.querySelector('textarea[name="reason"]').value,
                    'specialType': document.querySelector('select[name="specialType"]').value,
                };
                console.log(formData);

                if (validator(formData)) {
                    return;
                };

                // 반차 체크
                var isHalfDayChecked = $('#toggleCheckbox').is(':checked');
                // 반차 유형
                var halfDay = formData.type;

                if (isHalfDayChecked){
                    if (halfDay == null || halfDay == '') {
                        alert('반차 유형을 선택하여 주십시오');
                        return true;
                    }
                    formData.useDays = 0.5;
                }
                const useDay = formData.useDays;// 신청일수
                const specialType = formData.specialType;

                // 휴가 종류별 최대 허용 일수 설정
                const maxDays = {
                    '결혼': 3,
                    '철야': 5,
                    '주말출근': 2,
                    '가족상': 7
                };

                // 선택된 휴가 종류가 제한이 있는 경우
                if (maxDays[specialType] !== undefined) {
                    if (useDay > maxDays[specialType]) {
                        console.log(`if useDay: ${useDay}`);
                        alert(`${specialType} 휴가는 최대 ${maxDays[specialType]}일까지만 신청 가능합니다.`);
                        return false;
                    }
                }


                console.log("사용한휴가" + totalUseDays)
                console.log("신청휴가일수" + useDay)



                await fetch('/insertSpecialBreak', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': csrf.token
                    },
                    body: JSON.stringify(formData)
                })
                    .then(response => response.json())
                    .then(data => {
                        // endLoading();

                        if (data.result === 'SUCCESS') {
                            alert('등록 성공');
                            window.location.replace('/site/UserSpecialBreak/list?' + getQueryStr(searchData));
                        } else {
                            alert('등록 실패');
                        }
                    })
                    .catch(error => {
                        // endLoading();
                        alert('오류가 발생했습니다2.');
                        console.log(error);
                    });
            };


            function endChange(){

                var start = $("#startDate").val();
                var end = $("#endDate").val();

                if (start == null || start == "" || end == null || end == '') {

                }
                else{
                    var arr1 = start.split('-');
                    var year = Number(arr1[0]);
                    var month = Number(arr1[1]);
                    var day = Number(arr1[2]);
                    var date = new Date(year, month-1, day);  //휴가 시작일 date로 변경

                    var arr2 = end.split('-');
                    var year1 = Number(arr2[0]);
                    var month1 = Number(arr2[1]);
                    var day1 = Number(arr2[2]);
                    var date1 = new Date(year1, month1-1, day1);  //휴가 종료일 date로 변경

                    console.log("start:", start); // "2025-07-24"
                    console.log("split result:", arr1); // ["2025", "07", "24"]
                    console.log("year:", year); // 2025
                    console.log("month:", month); // 7
                    console.log("day:", day); // 24

                    if(date.getTime() > date1.getTime()) {//시작일이 종료일보다 큰경우
                        $("#useDays").val('0박 0일');
                    }else{
                        findAllAction(date, date1);
                    }



                }

            }

            //년도에 해당하는 휴일 검색
            const findAllAction = function(date, date1) {
                let stYear = date.getFullYear();//년 Number
                let stMonth = date.getMonth()+1;// 월 Number
                let stDate = date.getDate();// 일 Number
                console.log("stYear" + stYear);
                console.log("stMonth" + stMonth);
                console.log("stDate" + stDate);

                let edYear = date1.getFullYear();//년 Number
                let edMonth = date1.getMonth()+1;// 월 Number
                let edDate = date1.getDate();// 일 Number

                const formData = {
                    stYear : stYear,
                    edYear : edYear
                };

                $.ajax({
                    data : JSON.stringify(formData),
                    url : '/holidayList',
                    type : 'post',
                    dataType : 'json',
                    contentType : 'application/json'
                }).done(function (result, status, xhr) {
                    const list = result.list;

                    //주말 제외
                    var totCnt = excludeWeekendDate(date, date1, list);
                    $("#useDays").val(totCnt);//휴가일수 저장->마이페이지->계약사항조회에서 휴가사용현황 총 일수 보여주기 위해 새로 칼럼생성-2022-11-10
                    console.log("totCnt" + totCnt);
                    $("#day").val((totCnt-1)+'박 '+totCnt+'일');

                }).fail(function (xhr, status, error) {
                    alert("데이터를 불러오는데 실패했습니다.");
                });
            };

            //주말을 제외한 합계일수 리턴
            let useDays = 0; // 전역 변수 선언
            function excludeWeekendDate(fromDate, toDate, list) {
                //var date1 = new Date(2017, 10, 30); // 2017-11-30
                //var date2 = new Date(2017, 11, 6); // 2017-12-6
                var date1 = fromDate; // 2017-11-30
                var date2 = toDate; // 2017-12-6
                //console.log(date1);
                //console.log(date2);
                var count = 0;
                var temp_date = date1;
                var isHoliday = false;//휴일여부

                while(true) {
                    //console.log(temp_date);
                    if(temp_date.getTime() > date2.getTime()) {
                        console.log("count : " + count);
                        if (count === 1) {
                            document.getElementById('halfDaySelect').style.display = 'inline';
                        } else{
                            document.getElementById('halfDaySelect').style.display = 'none';
                        }
                        break;
                    } else {
                        var tmp = temp_date.getDay();
                        if(tmp == 0 || tmp == 6) {
                            // 주말
                            //console.log("주말");
                        } else {
                            // 평일
                            //console.log("평일");
                            for(let i=0;i<list.length;i++){
                                isHoliday = false;//휴일여부
                                //console.log(i+"->"+list[i].year+list[i].m1);
                                //let dateFormat1 = temp_date.getFullYear() + '년 ' + (temp_date.getMonth()+1) + '월 '	+ temp_date.getDate() + '일';
                                //console.log(dateFormat1);
                                if(temp_date.getFullYear()==Number(list[i].year)){
                                    switch (temp_date.getMonth()+1) {
                                        case 1:
                                            //console.log("1->"+list[i].m1);
                                            isHoliday = CheckHoliday(list[i].m1, temp_date);
                                            break;
                                        case 2:
                                            //console.log("2->"+list[i].m2);
                                            isHoliday = CheckHoliday(list[i].m2, temp_date);
                                            break;
                                        case 3:
                                            //console.log("3->"+list[i].m3);
                                            isHoliday = CheckHoliday(list[i].m3, temp_date);
                                            break;
                                        case 4:
                                            //console.log("4->"+list[i].m4);
                                            isHoliday = CheckHoliday(list[i].m4, temp_date);
                                            break;
                                        case 5:
                                            //console.log("5->"+list[i].m5);
                                            isHoliday = CheckHoliday(list[i].m5, temp_date);
                                            break;
                                        case 6:
                                            //console.log("6->"+list[i].m6);
                                            isHoliday = CheckHoliday(list[i].m6, temp_date);
                                            break;
                                        case 7:
                                            //console.log("7->"+list[i].m7);
                                            isHoliday = CheckHoliday(list[i].m7, temp_date);
                                            break;
                                        case 8:
                                            //console.log("8->"+list[i].m8);
                                            isHoliday = CheckHoliday(list[i].m8, temp_date);
                                            break;
                                        case 9:
                                            //console.log("9->"+list[i].m9);
                                            isHoliday = CheckHoliday(list[i].m9, temp_date);
                                            break;
                                        case 10:
                                            //console.log("10->"+list[i].m10);
                                            isHoliday = CheckHoliday(list[i].m10, temp_date);
                                            break;
                                        case 11:
                                            //console.log("11->"+list[i].m11);
                                            isHoliday = CheckHoliday(list[i].m11, temp_date);
                                            break;
                                        case 12:
                                            //console.log("12->"+list[i].m12);
                                            isHoliday = CheckHoliday(list[i].m12, temp_date);
                                            break;
                                        default:
                                            console.log((temp_date.getMonth()+1));
                                            break;
                                    }
                                }
                            }
                            //휴일은 제외한다
                            if(!isHoliday) count++;
                        }
                        temp_date.setDate(date1.getDate() + 1);
                    }
                }//while end
                useDays = count; // 전역 변수에 저장
                return count;
            }

            //휴일 체크
            function CheckHoliday(mm,dateObj){
                let isHoliday = false;
                if(mm.length>0){
                    var arr1 = mm.split(',');
                    for(let k=0;k<arr1.length;k++){
                        //console.log(k+"->"+arr1[k]);
                        if(dateObj.getDate()==Number(arr1[k])){
                            console.log(k+"->"+arr1[k]);
                            isHoliday = true;//휴일여부
                            console.log("휴일->"+arr1[k]);
                            break;
                        }
                    }
                }//if end
                return isHoliday;
            }










        </script>
    </th:block>

</head>

<body>
<th:block layout:fragment="content">
    <!-- 검색 form -->
    <form name="searchForm" method="post" onsubmit="return false;">

        <!--페이지 네이션-->
        <input type="hidden" name="pageNo" th:value="${employeeDTO.pageNo}">
        <input type="hidden" name="pageBlock" th:value="${employeeDTO.pageBlock}">
    </form>

    <div style="display: flex;">
        <!--sidebar-->
        <th:block th:replace="~{site/fragment/basic_aside :: aside}"></th:block>

        <!--content-->
        <div class="content">
            <!--상단-->
            <th:block th:replace="~{site/fragment/basic_nav :: nav}"></th:block>
            <!--content-->
            <div class="content-box">
                <!--경로-->
                <div class="current-site-path">
                    <ul>
                        <li>
                            <span>
                                특별 휴가 신청
                            </span>
                        </li>
                        <li>
                            <span>
                                등록
                            </span>
                        </li>
                    </ul>
                </div>

                <!--content-table-->
                <div class="view-table">
                    <table>
                        <colgroup>
                            <col width="12%">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>
                                이름
                            </th>
                            <td th:text="${employeeVO.empName}"></td>
                        </tr>
                        <input type="hidden" name="empId" th:value="${employeeDTO.empId}">
                        <input type="hidden" name="empNo" th:value="${employeeDTO.empNo}">
                        <tr>
                            <th>
                                사번
                            </th>
                            <td th:text="${employeeVO.empNo}"></td>
                        </tr>
                        <tr>
                            <th>
                                부서
                            </th>
                            <td th:text="${employeeVO.department}"></td>
                        </tr>
                        <tr>
                            <th>
                                직급
                            </th>
                            <td th:text="${employeeVO.position}"></td>
                        </tr>
                        <tr>
                            <th>
                                분류
                            </th>
                            <td>
                                <select name="specialType" class="form-control w22p">
                                    <option value="">분류 선택</option>
                                    <option value="결혼">결혼</option>
                                    <option value="철야">철야</option>
                                    <option value="주말출근">주말출근</option>
                                    <option value="가족상">가족상</option>
                                    <option value="기타">기타</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                신청일자
                            </th>
                            <td>
                                <div class="dib">
                                    <!-- <input type="text" class="input_style " id="start" name="start" placeholder="YYYY. MM. DD" style="width:190px;" onchange="startChange(this);"/> -->
                                    <input type="text" class="form-control" id="startDate" name="startDate" placeholder="YYYY. MM. DD" style="width:175px;" onchange="endChange();"/>
                                    <span class="bg_date"></span>
                                </div>
                                <span class="dib"> ~ </span>
                                <div class="dib">
                                    <input type="text" class="form-control" id="endDate" name="endDate" placeholder="YYYY. MM. DD" style="width:175px;" onchange="endChange();"/>
                                    <span class="bg_date"></span>
                                </div>
                                <input type="text" class="form-control dib" id="day" name="day" placeholder="0박0일" style="width:100px;" readonly>
                                <div id="halfDaySelect" class="dib">
                                    <!--오전 오후-->
                                    <div id="type">
                                        <label for="vacation_ev">
                                            <input type="radio" class="half_day_off" name="type" id="vacation_ev" value="오전반차">오전
                                        </label>
                                        <label for="vacation_af">
                                            <input type="radio" class="half_day_off" name="type" id="vacation_af" value="오후반차">오후
                                        </label>
                                    </div>
                                    <!--반차 선택 버튼-->
                                    <input type="checkbox" class="input_style" id="toggleCheckbox" style="margin-right: 0; margin-left: 6px;">
                                    <span style="vertical-align: -1.6px;">반차신청</span>
                                </div>


                                <script>
                                    document.getElementById('toggleCheckbox').addEventListener('change', function () {
                                        const div1 = document.getElementById('type');

                                        if (this.checked) {
                                            // 체크박스가 체크된 경우
                                            div1.style.display = 'inline-block';
                                        } else {
                                            // 체크박스가 해제된 경우
                                            div1.style.display = 'none'; // 2번 DIV 숨김
                                        }
                                    });
                                    // 초기 상태 설정
                                    document.getElementById('type').style.display = 'none'; // 1번 DIV 기본 표시
                                </script>

                            </td>
                        </tr>
                        <tr>
                            <th>
                                사유
                            </th>
                            <td>
                                <textarea class="form-control" name="reason" id="" style="height: 300px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                첨부파일
                            </th>
                            <td>
                                <button type="button" class="btn btn-sucess w90">파일첨부</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>


                <!--버튼-->
                <div class="search-button">
                    <button type="button" class="btn btn-regist w75">신청</button>
                    <button type="button" class="btn btn-view w75">목록</button>
                </div>










            </div>

        </div>








    </div>
</th:block>



</body>

</html>