<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/basic_layout.html}">

<head>
    <title>특별휴가 신청 - 상세보기</title>
    <th:block layout:fragment="script">
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", () => {
                setDefault();
                registEvent();
            });

            const csrf = { 'header' : null, 'value' : null };

            const button = { 'list' : null};

            const setDefault = function() {
                csrf.header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
                csrf.token = document.querySelector('meta[name="_csrf"]').getAttribute('content');

                button.list = document.querySelector('.btn-view');
                // button.modify = document.querySelector('.btn-regist');
            };

            const registEvent = function() {
                let searchData = new FormData(document.querySelector('[name="searchForm"]'));
                /**
                 button.list.addEventListener('click', () => {
                 window.location.replace('/mngr/gov/policy/list?' + getQueryStr(searchData));
                 });
                 **/
                button.list.addEventListener('click', () => {
                    window.location.replace('/site/UserSpecialBreak/list?' + getQueryStr(searchData));
                });

                /**
                 button.modify.addEventListener('click', () => {
                 let id = document.querySelector('input[name="empId"]').value;
                 window.location.replace('/mngr/Employee/modify?&empId='+ id +'&'+ getQueryStr(searchData));
                 //http://localhost:8892/mngr/gov/policy/modify?&govId=79
                 });
                 **/

                // 삭제
                button.del = document.querySelectorAll('.bttn-del');
                for(del of button.del) {
                    del.addEventListener('click', delt);
                }
            };

            async function delt(e) {
                let searchData = new FormData(document.querySelector('[name="searchForm"]'));
                console.log(searchData);

                const specialId = document.querySelector('[name="specialId"]').value;

                const formData = {
                    searchData: searchData,
                    specialId: specialId
                };

                await fetch('/delete', {
                    method : 'POST',
                    headers : {'Content-Type' : 'application/json', 'X-CSRF-TOKEN' :  csrf.token },
                    body : JSON.stringify(formData),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        if(data.result) {
                            alert('삭제 성공');
                            window.location.replace('/site/UserSpecialBreak/list?' + getQueryStr(searchData));
                        } else {
                            alert('게시물을 삭제하는데 실패하였습니다.');
                        }
                    })
                    .catch((error) => {
                        alert('데이터를 가져오는데 실패하였습니다.');
                        console.log(error);
                    });
            };








        </script>
    </th:block>
</head>

<body>
<th:block layout:fragment="content">
    <div style="display: flex;">
        <!--sidebar-->
        <th:block th:replace="~{site/fragment/basic_aside :: aside}"></th:block>

        <!--content-->
        <div class="content">
            <!--상단-->
            <th:block th:replace="~{site/fragment/basic_nav :: nav}"></th:block>
            <!--content-->
            <div class="content-box">
                <!--경로-->
                <div class="current-site-path">
                    <ul>
                        <li>
                            <span>
                                특별 휴가 신청
                            </span>
                        </li>
                        <li>
                            <span>
                                상세보기
                            </span>
                        </li>
                    </ul>
                </div>

                <!-- 검색 form -->
                <form name="searchForm" method="post" onsubmit="return false;">
                    <!-- 검색 조건 -->
                    <input type="hidden" name="specialId" th:value="${SpecialBreakVO.specialId}">
                    <input type="hidden" name="empName" th:value="${SpecialBreakVO.empName}"> <!--이름-->
                    <input type="hidden" name="department" th:value="${SpecialBreakVO.department}"> <!--부서-->
                    <input type="hidden" name="position" th:value="${SpecialBreakVO.position}"> <!--직급-->
                    <input type="hidden" name="specialType" th:value="${SpecialBreakVO.specialType}"> <!--분류-->
                    <input type="hidden" name="regDate" th:value="${SpecialBreakVO.regDate}"> <!--신청일-->
                    <input type="hidden" name="startDate" th:value="${SpecialBreakVO.startDate}"><!--휴가기간-->
                    <input type="hidden" name="endDate" th:value="${SpecialBreakVO.endDate}"><!--휴가기간-->
                    <input type="hidden" name="useDays" th:value="${SpecialBreakVO.useDays}"><!--신청일수-->
                    <input type="hidden" name="rejectReason" th:value="${SpecialBreakVO.rejectReason}"><!--반려사유-->

                    <!--페이지 네이션-->
                    <input type="hidden" name="pageNo" th:value="${SpecialBreakDTO.pageNo}">
                    <input type="hidden" name="pageBlock" th:value="${SpecialBreakDTO.pageBlock}">
                </form>

                <!--content-table-->
                <div class="view-table">
                    <table>
                        <colgroup>
                            <col width="12%">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>
                                이름
                            </th>
                            <td th:text="${SpecialBreakVO.empName}"></td>
                        </tr>
                        <tr>
                            <th>
                                사번
                            </th>
                            <td th:text="${SpecialBreakVO.empNo}"></td>
                        </tr>
                        <tr>
                            <th>
                                부서
                            </th>
                            <td th:text="${SpecialBreakVO.department}"></td>
                        </tr>
                        <tr>
                            <th>
                                직급
                            </th>
                            <td th:text="${SpecialBreakVO.position}"></td>
                        </tr>
                        <tr>
                            <th>
                                분류
                            </th>
                            <td th:text="${SpecialBreakVO.specialType}"></td>
                        </tr>

                        <tr>
                            <th>
                                신청일자
                            </th>
                            <td>
                                <span th:text="${SpecialBreakVO.startDate}"></span>
                                <span>~</span>
                                <span th:text="${SpecialBreakVO.endDate}"></span>
                                <span th:text="${SpecialBreakVO.useDays % 1 == 0} ? ${SpecialBreakVO.useDays.intValue()} : ${SpecialBreakVO.useDays}"></span>일
                            </td>
                        </tr>
                        <tr>
                            <th>
                                사유
                            </th>
                            <td th:text="${SpecialBreakVO.reason}">
                            </td>
                        </tr>
                        <tr th:if="${SpecialBreakVO.approval == '반려'}">
                            <th>
                                반려사유
                            </th>
                            <td th:text="${SpecialBreakVO.rejectReason}">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                첨부파일
                            </th>
                            <td>
                                첨부파일
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>


                <!--버튼-->
                <div class="search-button">
                    <button id="btn-search" type="button" class="btn btn-regist w75">수정</button>
                    <button id="btn-search" type="button" class="btn btn-view w75">목록</button>
                </div>










            </div>

        </div>








    </div>
</th:block>



</body>

</html>