<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--경로 다시 수정해야함-->
    <link rel="stylesheet" type="text/css" href="../../css/admin.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
    <title>퇴직자 관리 - 상세보기</title>

</head>

<body>

    <div style="display: flex;">
        <!--sidebar-->
        <div class="sidebar">
            <div class="sidebar-title">
                ini protect
            </div>
            <ul class="menu">
                <li>
                    <a href="#">
                        <span>직원 관리 및 등록</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <span>퇴직자 관리</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>특별휴가</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>병가</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>공휴일 관리</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>연차현황 조회</span>
                    </a>
                </li>
            </ul>
        </div>

        <!--content-->
        <div class="content">
            <!--상단-->
            <div class="login">
                <ul>
                    <li>
                        <a href="#">
                            <span>admin</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>로그아웃</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--content-->
            <div class="content-box">
                <!--경로-->
                <div class="current-site-path">
                    <ul>
                        <li>
                            <span>
                                퇴직자 관리
                            </span>
                        </li>
                        <li>
                            <span>
                                상세보기
                            </span>
                        </li>
                    </ul>
                </div>

                <!--content-table-->
                <div class="view-table">
                    <table>
                        <colgroup>
                            <col width="12%">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>
                                    이름
                                </th>
                                <td>
                                    이름
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    사번
                                </th>
                                <td>
                                    사번
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    직급
                                </th>
                                <td>
                                    직급
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    부서
                                </th>
                                <td>
                                    부서
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    입사일
                                </th>
                                <td>
                                    입사일
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    이메일
                                </th>
                                <td>
                                    이메일
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    상태
                                </th>
                                <td>
                                    상태
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    주소
                                </th>
                                <td>
                                    주소
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    연락처1
                                </th>
                                <td>
                                    연락처1
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    연락처2
                                </th>
                                <td>
                                    연락처2
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    은행명
                                </th>
                                <td>
                                    은행명
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    계좌번호
                                </th>
                                <td>
                                    계좌번호
                                </td>
                            </tr>


                        </tbody>
                    </table>

                </div>


                <!--검색버튼-->
                <div class="search-button">
                    <button id="btn-search" type="button" class="btn btn-regist w75">수정</button>
                    <button id="btn-search" type="button" class="btn btn-view w75">목록</button>
                </div>










            </div>

        </div>








    </div>


</body>

</html>