<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="aside">
    <div class="sidebar">
        <div class="sidebar-title">
            ini protect
        </div>
        <ul class="menu">
            <li>
                <a th:href="@{/mngr/manage/list}">
                    <span>휴가관리</span>
                </a>
            </li>
            <li>
                <a th:href="@{/mngr/ManageSpecial/list}">
                    <span>특별휴가</span>
                </a>
            </li>
            <li>
                <a th:href="@{/mngr/ManageSick/list}">
                    <span>병가</span>
                </a>
            </li>
            <li>
                <a th:href="@{/mngr/BreakList/BreakList_list}">
                    <span>연차현황 조회</span>
                </a>
            </li>
        </ul>
    </div>
</th:block>
</html>