<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common-util">
<script th:inline="javascript">
document.addEventListener('DOMContentLoaded', () => {
	const header = $('meta[name="_csrf_header"]').attr('content');
	const token = $('meta[name="_csrf"]').attr('content');
	ajaxUtil.setup(header, token);
});

// 에디터 환경설정
const configEditor = () => {
	
	// eidtor 인스턴스 생성
	DecoupledEditor.create( document.querySelector('.document-editor__editable'), {
	   //plugins, toolbar 설정하는 영역		   
	   ckfinder: {
		   uploadUrl: '/editor/upload/image',
		   options: { resourceType: 'Images' }
	   }
	})
	.then((editor) => {
        const toolbarContainer = document.querySelector('.document-editor__toolbar');
        toolbarContainer.appendChild( editor.ui.view.toolbar.element );		
		window.editor = editor;
	})
	.catch( error => {
	    console.error( error );
	});
};

// formData로 쿼리스트링 생성
const getQueryStr = (data) => {	
	let queryStr = '';
	// data를 key 와 value 쌍으로 받기 loop
	for(let [key, value] of data) {
		// value 가 null 또는 ''인 경우에는 쿼리스트링 생성에서 제외한다.
		if(value != null && value != '') {
			if(queryStr == '') queryStr += (key + '=' + value);
			else queryStr += ('&' + key + '=' + value);			
		}
	}
	return queryStr;
};

// formData를 json 형식으로 변환
const getJSONData = (data) => {
	let jsonData = {};
	
	for(let [key, value] of data) {
		if(value != null && value != '') {
			jsonData[key] = value;
		}
	}
	
	return jsonData;
};


function startLoading() {
	document.querySelector('.loading_gif').style.display = 'block';	
};

function endLoading() {
	document.querySelector('.loading_gif').style.display = 'none';	
};


</script>
</th:block>
</html>