<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content="" />
<meta name="author" content="" />
<meta th:if="${_csrf}" name="_csrf_param" th:content="${_csrf.parameterName}"/>
<meta th:unless="${_csrf}" name="_csrf_param" content=""/>
<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta th:unless="${_csrf}" name="_csrf" content=""/>
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta th:unless="${_csrf}" name="_csrf_header" content=""/>

<!-- title -->
<title>휴가관리</title>

<!-- css -->
<link rel="stylesheet" type="text/css" th:href="@{/res/css/common.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/css/web.css}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<!--js-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/res/js/site-ajax-util.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<th:block th:replace="~{common/layout/basic_script :: common-util}"></th:block>
<script th:src="@{/res/js/common.js}"></script>



</head>



<body>

<th:block layout:fragment="content">
	<div class="content">
		<!--상단-->
		<div class="account">
			<ul>
				<!--관리자 아이디 표시-->
				<li>
					<a href="#">
						<span>admin</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span>로그아웃</span>
					</a>
				</li>
			</ul>
		</div>
		<!--content-->
		<div class="content-box">



		</div>
	</div>
</th:block>
	<!--
	<script type="text/javascript" th:src="@{/res/mngr/lib/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/res/mngr/js/app.js}"></script>
    -->
</body>
</html>