<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="aside">
    <div class="sidebar">
        <div class="sidebar-title">
            ini protect
        </div>
        <ul class="menu">
            <li>
                <a th:href="@{/admin/Employee/list}">
                    <span>직원 관리 및 등록</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/retire/list}">
                    <span>퇴직자 관리</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/holiday/holiday_list}">
                    <span>공휴일 관리</span>
                </a>
            </li>

        </ul>
    </div>
</th:block>
</html>