<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.vacation.mvc.mapper.EmployeeMapper">
	<insert id="insertEmployee" parameterType="com.example.vacation.mvc.dto.EmployeeDTO">
		INSERT INTO employee (
						   userId
						 , userName
						 , userBirth
						 , empNo
						 , position
						 , department
						 , hiteDate
						 , email
						 , status
						 , userPassword
		) VALUES (
				   #{user_id}
				 , #{user_name}
				 , #{user_birth}
				 , #{emp_no}
				 , #{position}
				 , #{department}
				 , #{hire_date}
				 , #{email}
				 , #{status}
				 , #{password}
				 )
	</insert>
</mapper>
